#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=aiosmtpd

# main packaging script based on dh7 syntax
%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

override_dh_installdocs:
	PYTHONPATH=. sphinx-build -N -q -E -c ./ -b html . debian/compiled_doc/temp
	mv debian/compiled_doc/temp/aiosmtpd/docs debian/compiled_doc/html
	rm -rf debian/compiled_doc/temp
	cp -a debian/compiled_doc/html/NEWS.html debian/compiled_doc/changelog.html
	lynx -dump -nolist debian/compiled_doc/changelog.html > debian/compiled_doc/changelog
	gzip -9 debian/compiled_doc/changelog.html
	gzip -9 debian/compiled_doc/changelog
	dh_installdocs

override_dh_installman:
	mkdir -p debian/compiled_doc/manpage
	rst2man aiosmtpd/docs/manpage.rst > debian/compiled_doc/manpage/aiosmtpd.man
	dh_installman
	rm -rf debian/compiled_doc/manpage
